*{
    box-sizing: border-box;
}
*{
    padding: 0;
    margin: 0;
}
h1{
    font-size: 2.5rem;
    text-align: center;
}
h2{
    font-size: 1.5rem;
    text-align: center;
}
a{
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    
    
}
p{
   font-size: 1.2rem;
    text-align: justify;
}
.dotted-hr{
    border: dotted 6px white;
    border-bottom: none;
    margin: 20px auto;
    width: 70px;
}

[class*="col-"]{
    float: left;
    padding: 10px;
}
/* mobile*/
[class*="col-"]{
    width: 100%;
}
/* navbr start*/
.navbar{
    background-color: #40868b;
    padding: 1% 7%;
    text-align: center;
}
.navbar h1{
    color: white;
    padding-top: 10px;
    margin: 0;
}
.navbr-menu{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;

}
.navbr-menu a{
    background-color: #0c6168;
    border-radius: 10px;
    margin: 0;
     padding: 10px;
}
.navbr-menu a:hover{
    background-color: gray;
}
.navbar::after{
    content: '';
    display: table;
    clear: both;
}
/* navbr end*/
/* profile start*/
.profile{
    padding: 130px 10px;
    text-align: center;
    position: relative;
}

.top-icon{
    position: absolute;
    right: 55px;
    top: 20px;
    transition: transform 2s;
}
.top-icon:hover{
    transform: rotate(360deg);
}
.profile-des h1{
    font-family: 'satisfy',cursive;
    font-size: 3rem;
}
.profile-des p{
    color: gray;
    text-align: center;
    margin: 0 auto 20px auto;
    width: 90%;
}
.bottom-icon{
    position: absolute;
    left: 55px;
    bottom: 10px;
    transition: transform 2s;
}
.bottom-icon:hover{
    transform: rotate(360deg);
}
.profile::after{
    content: '';
    display: table;
    clear: both;
}
/* profile start*/
/* about start*/
.about-me{
    background-color: #39a4ac;
    padding: 1% 7%;
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.aboutme-imge img{
    border: 5px solid white;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}
    
.about-me p{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.about-me::after{
    content: '';
    display: table;
    clear: both;
}
/* myapps start*/
.app{
    background-color: #39a4ac;
}
.card {
    
    margin: 0 auto;
    max-width: 350px;
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    text-align: center;
    background-color: gray;
    margin-bottom: 20px;
}
.card:hover{
    box-shadow: 0 20px 40px 0 rgba(0,0,0,0.2);
    
}
h3{
    text-align: center;
    padding-bottom: 5px;
}
.img{
    padding-top: 15px;
}
.app::after{
    content: '';
    display: table;
    clear: both;
}
/* conlink start*/
.con-link {
    background-color: #0c6168;
    text-align: center;
    
}
.media-btn .btn{
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 32px;
    padding: 5px;
    margin: 10px;
    width: 50px;
    background: white;
}
.btn:hover{
    background-color: darkgrey;
}
.media-btn ::after{
    content: '';
    display: table;
    clear: both;
    
}
.footer {
    height: 180px;
    background-color: black;
}
.footer p{
    
    background-color:#111;
    text-align: center;
    color: whitesmoke;
    line-height:50px;
    font-size: 1.5rem;
    font-weight: bold;
     font-family: 'satisfy',cursive;
    padding-top: 30px;
    margin-top: 35px;
    padding-bottom: 20px;
    margin-bottom:25px;
}
